$icon-font-path: "../fonts/";

@import "includes/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "breakpoint";


html, body {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: $white;
}

h1 {
  display: inline-block;
}

.btn-sm {
  font-size: 15px;
}

.navbar-form {
  margin-left: 15px;
  margin-right: 15px;
}

#content {
  margin: 60px auto;
  height: 100%;
}

ul#recipes {

  & > li {
    width: 48%;
    display: block;
    float: left;
    margin-right: 4%;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

#warning-card {
  height: 350px;
  border: 1px solid $brand-primary;
  box-shadow: 2px 3px 10px $brand-primary-darkest;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
  }

  @include breakpoint($smaller) {
    height: 230px;
  }

  @include breakpoint($small) {
    height: 280px;
  }

  @include breakpoint($medium) {
    height: 320px;
  }

  @include breakpoint($large) {
    height: 350px;
  }
}

.panel-secondary {
  .panel-heading {

    a {
      color: $brand-primary;
    }
  }
}

#gmap {
  height: 400px;
  width: 100%;

  .angular-google-map, .angular-google-map-container {
    height: 100%;
    width: 100%;
  }
}