$icon-font-path: "../fonts/";

@import "includes/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "breakpoint";


html, body {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: $white;
}

h1 {
  display: inline-block;
}

.btn-sm {
  font-size: 15px;
}

.navbar-form {
  margin-left: 15px;

  .input-group {
    width: 100%;
  }

  .collapse & {
    padding: 0;
    margin-right: 15px;
  }
}

.nav .label-cont {
  margin: 10px 20px 0 0;

  .label {
    margin: 15px;
  }
}

#content {
  margin: 70px auto 110px;
  height: 100%;
}

ul#recipes {

  & > li {
    width: 48%;
    display: block;
    float: left;
    margin-right: 4%;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

#warning-card {
  height: 350px;
  border: 1px solid $brand-primary;
  box-shadow: 2px 3px 10px $brand-primary-darkest;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
  }

  @include breakpoint($smaller) {
    height: 230px;
  }

  @include breakpoint($small) {
    height: 280px;
  }

  @include breakpoint($medium) {
    height: 320px;
  }

  @include breakpoint($large) {
    height: 350px;
  }
}

.panel-secondary {
  .panel-heading {

    a {
      color: $brand-primary;
    }
  }
}

.full-height-row,
.full-height-col {
  height: 100%;
}

.loading {
  display: block;
  background: url("/static/images/loading.svg") no-repeat 50% 50%;
  background-size: 85%;
  height: 100%;
  width: 100%;
}

#gmap {
  height: 400px;
  width: 100%;

  .angular-google-map, .angular-google-map-container {
    height: 100%;
    width: 100%;
  }
}

footer,
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $body-bg;
  padding: .5em;
  box-shadow: 0px -2px 10px $brand-primary;

  p {
    margin-bottom: 5px;
  }
}

.table-responsive-search {
  @include breakpoint($smaller) {
    box-shadow: inset -8px 1px 8px -5px $brand-primary;
  }

  @include breakpoint($small) {
    box-shadow: none;
  }
}

.badge.active {
  background: rgba($black, .5);
}

@media (min-width: 768px) {
  .navbar-form {
    width: 90%;
  }
}