doctype html
html
  head
    base(href="/")
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    script(type='text/javascript', src='/frontend/jspm_packages/system.js')
    script(type='text/javascript', src='/frontend/jspm_packages/npm/underscore@1.8.3/underscore-min.js')
    script(type='text/javascript', src='/frontend/system.config.js')
    script(type='text/javascript').
      System.import('main')
              .catch(console.error.bind(console));
  body(ui-view)
    include ./includes/header
    #content.container
      .row
        .col-xs-12
          if error
            .alert.alert-error= error

          block content-top
      .row
        .col-xs-12
          block content

    include ./includes/footer
