doctype html
html
  head
    include ./includes/head

  body
    div(ui-view="header")
    div#content.container
      .row
        .col-xs-12
          if error
            .alert.alert-error= error
      .row
        .col-xs-12
          div(ui-view, ng-init="results = resultsJson")

    include ./includes/footer