doctype html
html
  head
    include ./includes/head

    block header-includes
  body
    div(ui-view="header")

    #content.container
      .row
        .col-xs-12
          block content-top

        .col-xs-12
          div(ui-view)
            block content

    include ./includes/footer
