extends layout
block content-top
  h1= title
  p Welcome to #{title}
block content

  .panel.panel-default
    .panel-heading
      h2(class='panel-title') Login
    .panel-body
      form#login(action='/login/' method='post')
        .form-group
          label(for='username') Email
          input(class='form-control' type='email' name='username')
        .form-group
          label(for='password') Password
          input(class='form-control' type='password' name='password')
        button(class='btn btn-primary pull-right' type='submit')
          i(class='glyphicon glyphicon-chevron-left') login