extends layout

block content-top
  h1 Flood Warnings
  if current
    p This is a list of the <strong>current</strong> Flood Alerts issued from the Environment Agency
  else
    p This is a list of all Flood alerts.
    a(ui-sref="warnings.current") View the current alerts

block content
  .row

    each warning in warnings
      .col-xs-6
        include ./includes/warningCard