<div class="jumbotron">
  <h1>About this web app</h1>
  <p>This web app was built using
  <a href="http://jade-lang.com/">Jade</a> (or <a href="http://jspm.io/">jspm</a>), <a href="https://angularjs.org/">Angular</a>,
  <a href="http://coffeescript.org/">Coffee Script</a>, <a href="https://karma-runner.github.io/0.13/index.html">KarmaJS</a>,
  <a href="https://github.com/systemjs/systemjs">SystemJS</a>. Not <a href="http://mean.io/#!/">MEAN stack</a> but JACKS stack.</p>
</div>

<p>The basic premise of the website is to collate all the river and sea flood data from the <a href="https://www.gov.uk/government/organisations/environment-agency">Environment Agency</a>, creating a resource which can be used as part of your property buying research. Unbelievably, very little of this type of data is as easy to access.</p>

<h2>The code</h2>
<p>You can see the source code on <a href="http://www.github.com/spenoir/flood-checker">github</a>. The app is hosted in the United States so you may find it a little slow to load depending on your location.</p>
<p>The app has been a project with which I can practice and develop skills. I am interested in <a href="https://github.com/systemjs/systemjs">Javascript module loaders</a> at the moment, and am
 getting into <a href="https://en.wikipedia.org/wiki/DevOps" title="DevOps">DevOps</a> for <a href="https://en.wikipedia.org/wiki/Front-end_web_development">front-end developers</a>.
</p>

<p>Please <a href="https://twitter.com/spenoir" class="twitter-follow-button" data-show-count="false">follow</a> me if you like it, thank you.</p>

<p>This app Contains public sector information licensed under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" title="Open Government Licence">Open Government Licence</a> v3.0.</p>