<h1>About this little web app</h1>

<p>This website was built using
  <a href="http://jade-lang.com/">Jade</a> (or <a href="http://jspm.io/">jspm</a>), <a href="https://angularjs.org/">Angular</a> ,
  <a href="http://coffeescript.org/">Coffee Script</a>, <a href="https://karma-runner.github.io/0.13/index.html">KarmaJS</a>,
  <a href="https://github.com/systemjs/systemjs">SystemJS</a>. Not <a href="http://mean.io/#!/">MEAN stack</a> but JACKS stack, you heard it here first!</p>
<p>Its just a bit of fun really. I need <i>something</i> to do ;)</p>
<p>You can see the source code on <a href="http://www.github.com/spenoir/flood-checker">github</a>. It hosted in the United States so you may find it slow to load depending on your location.</p>
<p>Please tweet me if you like it, thank you.
  <a href="https://twitter.com/spenoir" class="twitter-follow-button data-show-count="false">Follow @spenoir</a>
</p>